.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 6px 8px #888888;
}

.nav-logo {
    width: 60px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

/* CSS for mainContent component */

.mainCon {
    text-align: center;
    display: flex;
}

.mainCon-items > li {
    
}

.footer {
    justify-content: center;
    display: flex;
}