.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 6px 8px #888888;
}

.nav-logo {
    width: 60px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

/* CSS for mainContent component */

.mainCon {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}


/* CSS for footer component */

.footer {
    margin-top: auto;
    /* flex-grow: 1; */
    background-color: rgb(71, 102, 130);
    text-align: center;
}